<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345340167949-k14fdiiajo545d70j5kfuqpmvef5a450.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345340167949-k14fdiiajo545d70j5kfuqpmvef5a450</string>
	<key>API_KEY</key>
	<string>AIzaSyDYMWs7PmVY2sm71NIiYK-a_pK1c_JehAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>345340167949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.mediconnect</string>
	<key>PROJECT_ID</key>
	<string>medi-connect-mg2vrg</string>
	<key>STORAGE_BUCKET</key>
	<string>medi-connect-mg2vrg.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345340167949:ios:19b299f2cdc93ede5dd244</string>
</dict>
</plist>